        /* Remove default bullets */
        ul {
            text-align: left;
        }
        
        ul,
        #myUL {
            list-style-type: none;
        }

        /* Remove margins and padding from the parent ul */
        #myUL {
            margin: 0;
            padding: 0;
        }

        /* Style the caret/arrow */
        .caret {
            cursor: pointer;
            user-select: none;
            background: #375a7f;
            color: white;
            width: 100%;
            display: block;
            margin: 0.2em;
        }
        .caret span {
            margin: 0.5em;
        }
        /* Create the caret/arrow with a unicode, and style it */
  
        /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
        .caret-down::before {
            transform: rotate(90deg);
        }

        /* Hide the nested list */
        .nested {
            display: none;
            background-color: #303030;
        }

        .nested li{
            padding: 0.2em 0;
        }
        .nested p{
            font-weight: bold;
        }

        .nested p:hover{
            cursor: pointer;
        }
        /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
        .active {
            display: block;
        }

        textarea {
            background-color: #272727;
            color: #fff;
            border: none;
            padding: 10px;
        }

        textarea:focus {
            outline: none;
        }

        .add-folder {
            width: 100%;
            margin: 10px 0;
            border: none;
        }

        .add-folder:focus {
            outline: none;
        }

        .login-container {
            max-width: 400px;
            margin: 0 auto;
            margin-top: 100px;
        }

        .register-container {
            max-width: 400px;
            margin: 0 auto;
            margin-top: 100px;
        }